<pre>
Dear VictimName, 

Message body goes here

<a href="http://www.fake.com">http://realsiteaddress.com</a>

The following values will be automatically replaced:

VictimName - will be replaced by the application "Victim Name" field value in single message mode, in list mode will be replaced to "User".
victim@spoof.com - will be replaced by the application "To" field value, in list mode will be replaced to emails in the list .

Manual replace using the "Replace URL" field:

http://www.fake.com



Regards, 
ACME Security Department. 

*Please do not respond to this e-mail as your reply will not be received.
* This message was sent to victim@spoof.com
</pre>