<html dir="ltr"><body><font face="Arial"><p>Dear VictimName,</p>

<p>Google Apps accounts are undergoing an <a href="http://www.fake.com">improvement</a>, allowing you to give users access to over 60 additional applications from Google.

We encourage you to transition your organization&rsquo;s accounts on your own schedule now.</p>

<ul>There are several advantages to transitioning on your own schedule:

<li>Make the change on your own timeline</li>

<li>Have time to try the new infrastructure with a subset of your accounts

first</li>

<li>Use automated mailing lists and email templates to pre-notify your users</li>

<li>Get access to over 60 additional applications from Google right away</l=

i></ul>

<p><strong>Start the transition today</strong> by clicking the &ldquo;Get started&rdquo; or &ldquo;Transition more users&rdquo; button in your control panel:

<br>
<a href="http://www.fake.com">http://www.google.com/apps/intl/en/business/index.html</a>

<p>We plan to fully transition your organization soon -- including all users that you have not yet transitioned yourself.

If you have not transitioned by <b>next week</b>, we&rsquo;ll complete the transition for you.</p>

<p>If you have questions about this transition, we encourage you to explore our Help Center documentation for <a href="http://www.fake.com">administrators</a> and for <a href="http://www.fake.com">end-users</a>.</p>

<p>Sincerely,

<br>

The Google Apps Team</p>

<font size="1" color="666666"><p>-------------<br>

You have received this mandatory email service announcement to update you about important changes to your Google Apps account.</p>

<p>Please don&#39;t reply to this email, as we won&#39;t be able to review your response.

You may file a case in your control panel if you need additional help.</p>

<p>Google Inc.

<br>

1600 Amphitheatre Parkway

<br>

Mountain View, CA 94043, USA</p></font></font></body></html>