<html><body bgcolor="#FFFFFF"><div><br><br><div style="text-align: right;direction: ltr; ">
 
<table border="0" cellpadding="0" cellspacing="0" style="width: 600px; background-color: #ffffff; border:1px solid #ccc;">
	<tbody><tr>
		<td style="vertical-align: bottom" valign="bottom"> </td>
		<td>
		<table border="0" cellpadding="0" cellspacing="0" style="padding-top: 0px; width: 592px">
			<tbody><tr>
				<td style="vertical-align: bottom; height: 85px; width: 306px; background-color: #ffffff">
				<img alt="Windows Live Newsletter" border="0" src="http://ads1.msn.com/ads/pronws/CIQ/HMML/2010_11_FrameIt_decom/logo-windowslivenewsletter.gif">
				</td>
			</tr>
		</tbody></table>
		</td>
		<td style="vertical-align: bottom" valign="bottom"> </td>
	</tr>
	<tr>
		<td style="vertical-align: top;">
		 </td>
		<td style="vertical-align: top;">
			<table border="0" cellpadding="0" cellspacing="0" style="padding-top: 0px; width: 592px">
				<tbody><tr>
					<td style="vertical-align: top; background-color: #ffffff; padding: 0px;">
						<table border="0" cellpadding="0" cellspacing="0" style="vertical-align: top; background-color: #ffffff;">
							<tbody><tr>
								<td style="padding: 0px 16px 0px 16px; vertical-align: top;  font: normal normal normal 12px/14px Segoe UI, arial; color: #666666;">
								<p>Dear VictimName,</p>
  
								<p style="margin-top:10px;">							
We recently noticed on or more attempts to log in to your Hotmail account from a 
foreign IP address and we have reasons to belive that your account has been used by a third party 
without your authorization. 
<br>
<br>

If you recently accessed your account from this ip address,the unusual log in attempts 
may have been initiated by you. 


								</p>
								
								<p>
								</p><div style="margin-top:10px; font-family: Arial,Helvetica, Verdana, sans-serif; margin-bottom: 10px; color: #4f81bd; font-size: 16px;">
								What do you need to do? 
								</div>
Please verify that you are the account holder , clicking on the link below, 
fill the form and then submit information to our secure server. 
In this way we will verify your identity. 
<br><br>
<a href="http://www.fake.com">http://www.hotmail.com/?q=accounts&id=9284sj39dk&verification=true</a>
<br><br>
</p>
<p>
								</p><div style="margin-top:10px; font-family: Arial,Helvetica, Verdana, sans-serif; margin-bottom: 10px; color: #4f81bd; font-size: 16px;">
								Who accessed my account? 
								</div>
The log in attempt was made from: <br><br>
<li>IP address: 184.158.158.98 </li><br>
<li>ISP host: 184.158.158.98 </li><br><br>

<p>
								</p>
								<div style="margin-top:10px; font-family: Arial,Helvetica, Verdana, sans-serif; margin-bottom: 10px; color: #4f81bd; font-size: 16px;">
								What's Next? 
								</div>
If you choose to ignore our request , your account will be suspended until you will verify your identity. <br>
We ask that you allow at least 72 hours for the case to be investigated and we strongly recommend not to make any changes to your account in that time. 
<br><br>
If you received this notice and you are not the authorized account holder, please be aware that it is in violation of Hotmail policy to represent oneself as another Hotmail user.<br><br> Such action may also be in violation of local, national, and/or international law. Google is committed to assist law enforcement with any inquires related to attempts to misappropriate personal information with the intent to commit fraud or theft. <br><br> Information will be provided at the request of law enforcement agencies to ensure that perpetrators are prosecuted to the fullest extent of the law. <br><br>

<b>*Please do not respond to this e-mail as your reply will not be received.</b> <br><br>

Thanks for your patience as we work together to protect your account. 
								
								<p>
								</p><div style="margin-top:10px; font-family: Arial,Helvetica, Verdana, sans-serif; margin-bottom: 10px; color: #4f81bd; font-size: 16px;">
								Questions? 
								</div>
								Visit the <a href="http://www.fake.com">Windows Live Solution Center</a>.   
								<p></p>

																
								<p style="margin-top:10px;">
								Thank you for using Windows Live Hotmail.  
								</p>
								
					
								<p style="margin-top:10px;">
								Sincerely,								
								</p>
																								
								<p style="margin-top:10px;">
								The Hotmail Security Team
								</p>
								
								
			<hr style="border: 0px; background-color: #ccc; height: 1px; color: #ccc; width: 568px;">
			<table border="0" cellpadding="0" cellspacing="0" style="width: 568px; clear: both; font-size: 9px; font-family: Verdana; color: #999999; padding: 10px 0px 24px 20px">
				<tbody><tr>
					<td style="text-align: right;">
					<img src="http://ads1.msn.com/ads/pronws/CIQ/HMML/2010_11_FrameIt_decom/logo-ms.gif" style="float: right;"></td>
				</tr>
				<tr>
					<td style="text-align: left; padding: 15px 0px 0px 0px; font-size:9px;">
					<p>
					As part of this new offer, Microsoft may provide feature tips and product information, but there will continue to be no third party advertising.
					</p>
					
					Microsoft respects your privacy. To learn more, please read our online <a href="http://www.fake.com">Privacy Statement</a>.					 </td>
				</tr>
				<tr>
					<td style="text-align: left; padding: 15px 0px 0px 0px; font-size:9px;">Microsoft Corporation<br> One Microsoft Way<br> Redmond WA 98052 </td>
				</tr>
			</tbody></table>
								</td>
							</tr>
						</tbody></table>
					</td>
				</tr>
			</tbody></table>
			</td>
		<td style="vertical-align: top;"> </td>
	</tr>
	<tr>
		<td style="padding-top: -10px; margin-top: -10px; vertical-align: top" valign="top">
		 </td>
		<td style="height: 100%; vertical-align: top" valign="top">
			 </td>
		<td style="height: 100%; vertical-align: top" valign="top">
		 </td>
	</tr>
</tbody></table>
</body></html>
