<html><body bgcolor="#FFFFFF"><div><br><br><div style="text-align: right;direction: ltr; ">
 
<table border="0" cellpadding="0" cellspacing="0" style="width: 600px; background-color: #ffffff; border:1px solid #ccc;">
	<tbody><tr>
		<td style="vertical-align: bottom" valign="bottom"> </td>
		<td>
		<table border="0" cellpadding="0" cellspacing="0" style="padding-top: 0px; width: 592px">
			<tbody><tr>
				<td style="vertical-align: bottom; height: 85px; width: 306px; background-color: #ffffff">
				<img alt="Windows Live Newsletter" border="0" src="http://ads1.msn.com/ads/pronws/CIQ/HMML/2010_11_FrameIt_decom/logo-windowslivenewsletter.gif">
				</td>
			</tr>
		</tbody></table>
		</td>
		<td style="vertical-align: bottom" valign="bottom"> </td>
	</tr>
	<tr>
		<td style="vertical-align: top;">
		 </td>
		<td style="vertical-align: top;">
			<table border="0" cellpadding="0" cellspacing="0" style="padding-top: 0px; width: 592px">
				<tbody><tr>
					<td style="vertical-align: top; background-color: #ffffff; padding: 0px;">
						<table border="0" cellpadding="0" cellspacing="0" style="vertical-align: top; background-color: #ffffff;">
							<tbody><tr>
								<td style="padding: 0px 16px 0px 16px; vertical-align: top;  font: normal normal normal 12px/14px Segoe UI, arial; color: #666666;">
								<p>Hi VictimName,</p>
  
								<p style="margin-top:10px;">
								You are receiving this note because you have connected to Hotmail from devices such as smartphones or programs like Mac Mail and Mozilla 
								Thunderbird. These smartphones and programs often include an option that automatically deletes messages from Hotmail after they are 
								downloaded (they often use the "POP3" protocol). Because this option is sometimes selected accidentally, we've made some updates to 
								Hotmail to make sure those messages aren't deleted automatically unless you tell us otherwise.
								</p>
																
									
								<p>
								</p><div style="margin-top:10px; font-family: Arial,Helvetica, Verdana, sans-serif; margin-bottom: 10px; color: #4f81bd; font-size: 16px;">
								What's changing? 
								</div>
								When we detect that another program wants to delete Hotmail messages, instead of just deleting them, we will move them into a temporary 
								POP folder on <a href="http://www.fake.com"><a href="http://www.fake.com">www.hotmail.com</a></a> for safe keeping until you tell us what you'd like to do.  
								<p></p>
								
								<p>
								</p><div style="margin-top:10px; font-family: Arial,Helvetica, Verdana, sans-serif; margin-bottom: 10px; color: #4f81bd; font-size: 16px;">
								What do you need to do? 
								</div>
								Depending on how you'd like messages to show up when you access Hotmail on the web, please take one of the following actions:
								<ul>
									<li><span style="font-weight:bold">If you want to delete messages from the web version of Hotmail after they are downloaded to your program</span>, sign in 
									to <a href="http://www.fake.com"><a href="http://www.fake.com">www.hotmail.com</a></a> and choose "POP and deleting downloaded messages" on the 
									<a href="http://www.fake.com">Options</a> page.</li>
									
									<li><span style="font-weight:bold">If you'd like to see your messages on both your Hotmail inbox at <a href="http://www.fake.com"><a href="http://www.fake.com">www.hotmail.com</a></a> and on your smartphone or program</span>, 
									open the program that's downloading the messages and go to its POP settings. Look for a "delete messages from the server" option and turn it off.</li>
								</ul>
								<div>
									<span style="font-weight:bold">Please note that this does not affect smartphones or programs that connect to Hotmail in other ways</span> (e.g. smartphones with Exchange ActiveSync, Microsoft Outlook with Outlook Hotmail Connector, or Windows Live Mail). 
								</div>
								<p></p>
								
								<p>
								</p><div style="margin-top:10px; font-family: Arial,Helvetica, Verdana, sans-serif; margin-bottom: 10px; color: #4f81bd; font-size: 16px;">
								Questions? 
								</div>
								Visit the <a href="http://www.fake.com">Windows Live Solution Center</a>.   
								<p></p>

																
								<p style="margin-top:10px;">
								Thank you for using Windows Live Hotmail.  
								</p>
								
					
								<p style="margin-top:10px;">
								Sincerely,								
								</p>
																								
								<p style="margin-top:10px;">
								The Hotmail Team
								</p>
								
								
			<hr style="border: 0px; background-color: #ccc; height: 1px; color: #ccc; width: 568px;">
			<table border="0" cellpadding="0" cellspacing="0" style="width: 568px; clear: both; font-size: 9px; font-family: Verdana; color: #999999; padding: 10px 0px 24px 20px">
				<tbody><tr>
					<td style="text-align: right;">
					<img src="http://ads1.msn.com/ads/pronws/CIQ/HMML/2010_11_FrameIt_decom/logo-ms.gif" style="float: right;"></td>
				</tr>
				<tr>
					<td style="text-align: left; padding: 15px 0px 0px 0px; font-size:9px;">
					<p>
					As part of this new offer, Microsoft may provide feature tips and product information, but there will continue to be no third party advertising.
					</p>
					
					Microsoft respects your privacy. To learn more, please read our online <a href="http://www.fake.com">Privacy Statement</a>.					 </td>
				</tr>
				<tr>
					<td style="text-align: left; padding: 15px 0px 0px 0px; font-size:9px;">Microsoft Corporation<br> One Microsoft Way<br> Redmond WA 98052 </td>
				</tr>
			</tbody></table>
								</td>
							</tr>
						</tbody></table>
					</td>
				</tr>
			</tbody></table>
			</td>
		<td style="vertical-align: top;"> </td>
	</tr>
	<tr>
		<td style="padding-top: -10px; margin-top: -10px; vertical-align: top" valign="top">
		 </td>
		<td style="height: 100%; vertical-align: top" valign="top">
			 </td>
		<td style="height: 100%; vertical-align: top" valign="top">
		 </td>
	</tr>
</tbody></table>
</body></html>
