.container {
  width: 500px;
  height: 500px;
  background-image: repeating-conic-gradient(
    rgb(17, 255, 0) 0deg 10deg,
    rgb(255, 68, 0) 10deg 20deg,
    rgb(255, 0, 144) 20deg 30deg
  );
  border-radius: 50%;
  overflow: hidden;
}
